.Home-Page {
    height: 633px;
    background-image: url("C:\Users\HP\Documents\GitHub\Hackathon-\frontend\public\Assets\Bg.jpg");
    background-size: 100% 633px;
    position: relative;
    image-resolution: 900dpi;
}