.Home-Page
{
    /* background-image: url("C:\Users\HP\OneDrive\Desktop\Hackathon EtheForAll\hack\public\Assets\bg10.jpg"); */
    background-size: 50% 633px;
    position: relative;
    image-resolution: 900dpi;
}